<head>
<title>Predict the next goal and beat your friends!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon href=icon.png">
<link rel="apple-touch-startup-image href=startup.png">
<link rel="icon" type="image/png" href="favicon.png">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
<link rel="stylesheet" href="stylesheets/nextgoal.css" type="text/stylesheet" />
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
<script src="http://cdn.pubnub.com/pubnub-3.4.4.js"></script>
<script src="javascripts/messenger.js"></script>
</head>

<!-- Chat Page -->
<div data-role="page" id="chatPage" data-theme="c" class="type-interior">
 
<div data-role="content">
<div data-role="header" data-position="fixed" data-tap-toggle="false">
<h1>Predict the next goal!</h1>
</div><!-- /header -->
 
<div data-role="content">
<ul data-role="listview" id="messageList">
</ul>
</div>
 
<div data-role="footer" data-theme="c">
<textarea id="messageContent"></textarea>
<div class="ui-grid-a">
<div class="ui-block-a">Your name: <input type="text" id="userName" value="anonymous"></textarea><a href="#" id="sendMessageButton" data-role="button">Send Message</a></div>
</div>

<div class="ui-grid-a">
<div class="ui-block-a">UNITED STATES</div>
<div class="ui-block-b">PORTUGAL</div>
</div>

<div class="ui-grid-a">
<div class="ui-block-a">

<a href="#" class="playerPrediction" title="Clint Dempsey (#8 USA)" ><img src="images/USA/ClintDempsey.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Aron Johannsson (#9 USA)" ><img src="images/USA/AronJohannsson.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Mix Diskerud (#10 USA)" ><img src="images/USA/MixDiskerud.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Graham Zusi (#19 USA)" ><img src="images/USA/GrahamZusi.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="John Brooks (#6 USA)" ><img src="images/USA/JohnBrooks.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Chris Wondolowski (#18 USA)" ><img src="images/USA/ChrisWondolowski.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Jozy Altidore (#17 USA)" ><img src="images/USA/JozyAltidore.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Michael Bradley (#4 USA)" ><img src="images/USA/MichaelBradley.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Tim Howard (#1 USA)" ><img src="images/USA/TimHoward.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Kyle Beckerman (#15 USA)" ><img src="images/USA/KyleBeckerman.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="DaMarcus Beasley (#7 USA)" ><img src="images/USA/DaMarcusBeasley.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="DeAndre Yedlin (#2 USA)" ><img src="images/USA/DeandreYedlin.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Jermaine Jones (#13 USA)" ><img src="images/USA/JermaineJones.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Omar Gonzalez (#3 USA)" ><img src="images/USA/OmarGonzalez.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Geoff Cameron (#20 USA)" ><img src="images/USA/GeoffCameron.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Timmy Chandler (#21 USA)" ><img src="images/USA/TimmyChandler.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Alejandro Bedoya (#11 USA)" ><img src="images/USA/AlejandroBedoya.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Fabian Johnson (#23 USA)" ><img src="images/USA/FabianJohnson.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Brad Davis (#14 USA)" ><img src="images/USA/BradDavis.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Matt Besler (#5 USA)" ><img src="images/USA/MattBesler.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Julian Green (#16 USA)" ><img src="images/USA/JulianGreen.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Brad Guzan (#12 USA)" ><img src="images/USA/BradGuzan.png" width="132" height="136" /></a>
<a href="#" class="playerPrediction" title="Nick Rimando (#22 USA)" ><img src="images/USA/NickRimando.png" width="132" height="136" /></a>

</div>

<div class="ui-block-b">

<a href="#" class="playerPrediction" title="Cristiano Ronaldo (#7 Portugal)" ><img src="images/Portugal/CristianoRonaldo.png" width="130" height="140" /></a>
<a href="#" class="playerPrediction" title="Cristiano Ronaldo (#7 Portugal)" ><img src="images/Portugal/CristianoRonaldo.png" width="130" height="140" /></a>
<a href="#" class="playerPrediction" title="Cristiano Ronaldo (#7 Portugal)" ><img src="images/Portugal/CristianoRonaldo.png" width="130" height="140" /></a>
<a href="#" class="playerPrediction" title="Cristiano Ronaldo (#7 Portugal)" ><img src="images/Portugal/CristianoRonaldo.png" width="130" height="140" /></a>
<a href="#" class="playerPrediction" title="Cristiano Ronaldo (#7 Portugal)" ><img src="images/Portugal/CristianoRonaldo.png" width="130" height="140" /></a>
<a href="#" class="playerPrediction" title="Cristiano Ronaldo (#7 Portugal)" ><img src="images/Portugal/CristianoRonaldo.png" width="130" height="140" /></a>
<a href="#" class="playerPrediction" title="Cristiano Ronaldo (#7 Portugal)" ><img src="images/Portugal/CristianoRonaldo.png" width="130" height="140" /></a>
<a href="#" class="playerPrediction" title="Cristiano Ronaldo (#7 Portugal)" ><img src="images/Portugal/CristianoRonaldo.png" width="130" height="140" /></a>
<a href="#" class="playerPrediction" title="Cristiano Ronaldo (#7 Portugal)" ><img src="images/Portugal/CristianoRonaldo.png" width="130" height="140" /></a>

</div>


</div>

</div>
</div><!-- /content -->
 
</div><!-- /page -->